/*ALINHAMENTO DE TEXTO*/
.tleft{ text-align: left;}
.tright{ text-align: right;}
.tcenter{ text-align: center;}
.tjustify{ text-align: justify;}


/*ESTRUTURA DIAGRAMAÇÃO*/

.w100{ width: 100%;}
.w20{ width: 20%;}
.w80{ width: 80%;}
.w30{ width: 30%;}
.w70{ width: 70%;}
.w50{ width: 50%;}
.w33{ width: 33.3%;}
.w25{ width: 25%;}

.fleft{ float: left;}
.fright{ float: right;}
.clear{ clear: both;}
.row{ clear: both;} 

.container{ width: 1000px; margin: 0 auto;}

/*ESTRUTURA DO MENU*/
ul.menu {
    list-style-type: none;
    padding: 0;
}

ul.menu.horizontal li {
    display: inline-block;
}
.linha {
    margin-top: 20px;
    margin-bottom: 20px;
}

.teste{
    border: 2px orange solid;
}

#services{
    padding: 40px;
}
